$color-primary: #3498db;
$color-primary-dark: #2d85bf;
$color-primary-dark-2: #20628f;

@mixin style-common() {
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s;
  font-weight: bold;
  background-color: $color-primary;
  cursor: pointer;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  padding: 80px;
}

.button {
  &_simple {
    @include style-common;

    &:hover {
      background-color: #90c1e2;
    }
  }

  &_gradient {
    @include style-common;

    background: linear-gradient(45deg, $color-primary, #9b59b6);

    &:hover {
      background: linear-gradient(45deg, $color-primary-dark-2, #783a93);
    }
  }

  &_outline {
    @include style-common;

    border: 2px solid $color-primary;
    background-color: transparent;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &_fade_hover {
    @include style-common;

    background-color: $color-primary;
    border: 2px solid $color-primary;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fff;
      border: 2px solid $color-primary;
      color: $color-primary;
    }
  }

  &_shadow {
    @include style-common;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
    }
  }

  &_3d {
    @include style-common;

    border-bottom: 5px solid $color-primary-dark;

    &:hover {
      margin-top: 3px;
      background: $color-primary;
      border-bottom: 2px solid $color-primary-dark;
    }
  }

  &_text_shadow {
    @include style-common;

    color: #216390;
    border-bottom: 5px solid $color-primary-dark;
    text-shadow: -0.5px -0.5px 1px #80b4d6, 1px 1px 3px $color-primary-dark-2;

    &:hover {
      margin-top: 3px;

      background: $color-primary;
      border-bottom: 2px solid $color-primary-dark;
    }
  }

  &_double_border {
    @include style-common;

    border: 8px double $color-primary;
    background-color: #87b3d1;
  }

  &_groove_border {
    @include style-common;

    border: 6px groove $color-primary;
  }

  &_inset_border {
    @include style-common;

    border: 6px inset $color-primary-dark-2;

    &:hover {
      border: 6px outset $color-primary-dark-2;
    }
  }

  &_dashed_border {
    @include style-common;

    border: 3px dashed $color-primary-dark-2;
  }

  &_border_3d {
    @include style-common;

    border: 2px solid #000;
    position: relative;
    width: 205px;
    height: 47px;
    background-color: $color-primary-dark-2;

    span {
      width: 100%;
      height: 100%;
      left: -2px;
      top: -8px;
      border-radius: 4px;
      box-sizing: initial;
      line-height: 43px;
      position: absolute;
      background-color: $color-primary;
      border: 2px solid #000;
      transition: 0.3s;

      &:hover {
        top: -3px;
      }
    }
  }

  &_stripe {
    @include style-common;

    background: repeating-linear-gradient(
      45deg,
      $color-primary,
      $color-primary 10px,
      #7cb1d4 10px,
      #7cb1d4 20px
    );

    &:hover {
      background: repeating-linear-gradient(
        45deg,
        #7cb1d4,
        #7cb1d4 10px,
        $color-primary 10px,
        $color-primary 20px
      );
    }
  }

  &_left_to_right_line {
    @include style-common;

    background-color: $color-primary;
    color: #ffffff;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      transition: all 0.3s;
    }

    &:hover:after {
      left: 100%;
    }
  }

  &_icon_animation {
    @include style-common;

    background-color: $color-primary;
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
      transition: transform 0.3s;
    }

    &:hover i {
      transform: rotate(360deg);
    }
  }

  &_border_hover {
    @include style-common;

    background-color: transparent;
    color: $color-primary;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $color-primary;
      transition: all 0.3s;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }

    &:hover:before,
    &:hover:after {
      width: 100%;
      transition: all 0.3s;
    }
  }

  &_text_animation {
    @include style-common;

    background-color: $color-primary;
    color: #000;

    span {
      display: inline-block;
      transform: translateY(0);
      transition: transform 0.3s;
    }

    &:hover span {
      transform: translateY(-150%);
    }
  }

  &_ripple_animation {
    @include style-common;

    background-color: $color-primary;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: #fff;
      opacity: 0.5;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
    }

    &:hover:after {
      width: 200%;
      height: 400%;
    }
  }

  &_rotate_hover {
    @include style-common;

    &:hover {
      transform: rotate(20deg);
    }
  }

  &_color_change {
    @include style-common;

    &:hover {
      background-color: #8bc34a;
    }
  }

  &_scale_hover {
    @include style-common;

    &:hover {
      transform: scale(1.2);
    }
  }

  &_text_change {
    @include style-common;

    height: 47px;
    overflow: hidden;
    position: relative;

    span.original {
      display: block;
      transition: transform 0.3s;
    }

    span.hover {
      display: block;
      transform: translateY(100%);
      transition: transform 0.3s;
    }

    &:hover span.original {
      transform: translateY(-200%);
    }

    &:hover span.hover {
      transform: translateY(-100%);
    }
  }

  &_blur_hover {
    @include style-common;

    &:hover {
      filter: blur(3px);
    }
  }

  &_flip_hover {
    @include style-common;

    perspective: 1000px;
    position: relative;

    &:before {
      content: 'Hovered!';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #8bc34a;
      color: #ffffff;
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }

    &:hover:before {
      transform: rotateY(0deg);
    }
  }

  &_zigzag {
    @include style-common;

    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  }

  &_wavy {
    @include style-common;

    clip-path: polygon(
      0% 15%,
      5% 10%,
      10% 15%,
      15% 10%,
      20% 15%,
      25% 10%,
      30% 15%,
      35% 10%,
      40% 15%,
      45% 10%,
      50% 15%,
      55% 10%,
      60% 15%,
      65% 10%,
      70% 15%,
      75% 10%,
      80% 15%,
      85% 10%,
      90% 15%,
      95% 10%,
      100% 15%,
      100% 85%,
      95% 90%,
      90% 85%,
      85% 90%,
      80% 85%,
      75% 90%,
      70% 85%,
      65% 90%,
      60% 85%,
      55% 90%,
      50% 85%,
      45% 90%,
      40% 85%,
      35% 90%,
      30% 85%,
      25% 90%,
      20% 85%,
      15% 90%,
      10% 85%,
      5% 90%,
      0% 85%
    );
  }

  &_blink {
    @include style-common;

    animation: blink 1.5s infinite alternate;

    @keyframes blink {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
    }
  }

  &_diagonal_slide {
    @include style-common;

    border-radius: 0;

    &:hover {
      transform: skewX(-20deg);
    }
  }

  &_diagonal_slide_reverse {
    @include style-common;

    border-radius: 0;

    transform: skewX(-20deg);
    &:hover {
      transform: skewX(0);
    }
  }

  &_bounce {
    @include style-common;

    &:hover {
      animation: bounce 0.5s;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(-5px);
      }
    }
  }

  &_neon {
    @include style-common;

    background-color: #fff;
    color: $color-primary;
    border: 1px solid $color-primary;
    box-shadow: 0 0 5px $color-primary, 0 0 10px $color-primary, 0 0 15px $color-primary,
      0 0 20px $color-primary;

    &:hover {
      box-shadow: 0 0 15px $color-primary, 0 0 20px $color-primary, 0 0 30px $color-primary,
        0 0 40px $color-primary;
    }
  }

  &_color_shift {
    @include style-common;

    background: linear-gradient(45deg, $color-primary, #9b59b6);
    background-size: 200% 100%;
    animation: gradient 5s infinite;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  &_spin {
    @include style-common;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &_shake {
    @include style-common;

    &:hover {
      animation: shake 0.5s;
    }

    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }
      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translateX(-10px);
      }
      20%,
      40%,
      60%,
      80% {
        transform: translateX(10px);
      }
    }
  }

  &_burn {
    @include style-common;

    background: linear-gradient(0deg, $color-primary, #a600ff);
    background-size: 100% 200%;
    background-position: 0% 100%;

    &:hover {
      background-position: 0% 0%;
    }
  }

  &_glitch {
    @include style-common;

    border-radius: 0;

    &:hover {
      animation: glitch 5s;
    }

    @keyframes glitch {
      0%,
      100% {
        transform: translateX(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      5% {
        transform: translateX(-5px);
        clip-path: polygon(0 5%, 100% 5%, 100% 55%, 0 55%);
      }
      10% {
        transform: translateX(5px);
        clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
      }
      15% {
        transform: translateX(-5px);
        clip-path: polygon(0 15%, 100% 15%, 100% 65%, 0 65%);
      }
      20% {
        transform: translateX(5px);
        clip-path: polygon(0 35%, 100% 35%, 100% 85%, 0 85%);
      }
      25% {
        transform: translateX(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  &_3d_shadow {
    @include style-common;

    position: relative;
    border-radius: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(45deg, $color-primary-dark, $color-primary-dark-2);
      transform: skewX(-20deg);
      transform-origin: bottom left;
      transition: transform 0.5s;
    }

    &:hover:before {
      transform: skewX(20deg);
    }
  }
}
